* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    width: 100%;
    font-family: Arial, sans-serif;
}

.conta {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding: 20px;
    background-color: #fff;
    position: relative;
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 20px;
    background-color: #fff;
}

.login-container {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

    .login-container h1 {
        font-size: 32px;
        margin-bottom: 10px;
    }

    .login-container p {
        color: #666;
        margin-bottom: 20px;
        margin-top: 20px;
    }

.input-group {
    margin-bottom: 20px;
}

    .input-group label {
        display: block;
        margin-bottom: 5px;
    }

    .input-group input {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .input-group span {
        width: 30px;
        color: red;
    }

.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

    .actions label {
        display: flex;
        align-items: center;
    }

    .actions .forgot-password {
        color: red;
        text-decoration: none;
    }

.login-btn {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: blue;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.login-container form p {
    color: #666;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
}

.login-container a {
    color: red;
    text-decoration: none;
}

.social-login {
    text-align: center;
    margin-top: 20px;
}

    .social-login .box {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }

    .social-login .line {
        flex: 1;
        border-bottom: 1px solid #ccc;
        margin: 0 10px;
    }

    .social-login .text {
        white-space: nowrap;
        color: #888;
    }

.social-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

    .social-buttons button {
        width: 100px;
        height: 40px;
        background-color: white;
        cursor: pointer;
    }

    .social-buttons img {
        width: 25px;
        height: auto;
    }

.login-photo {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    margin: 20px
}

    .login-photo img {
        max-width: 100%;
        height: 600px;
        width: 400px;
        max-height: 80%;
    }
