@*

*@
@{
}
<link rel="stylesheet" href="~/css/passwordReset.css">

<div class="conta">
    <div class="password-page">
        <div class="password">
            <div class="password-container">
                <a class="back-login" href="#">&lt; Back to login</a>
                <h1>Forgot your password?</h1>
                <p>Don’t worry, happens to all of us. Enter your email below to recover your password</p>
                <form>
                    <div class="input-group">
                        <label for="email">Email</label>
                        <input type="email" id="email" name="email" placeholder="john.doe@gmail.com">
                    </div>
                    <button type="submit" class="password-btn">Submit</button>
                </form>
                <div class="social-login">
                    <div class="box">
                        <div class="line"></div>
                        <div class="text">Or login with</div>
                        <div class="line"></div>
                    </div>
                    <div class="social-buttons">
                        <button class="facebook"><img src="~/icon/facebook.png" alt="Facebook"></button>
                        <button class="google"><img src="~/icon/google.png" alt="Google"></button>
                        <button class="apple"><img src="~/icon/apple.png" alt="Apple"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="password-photo">
        <img src="~/icon/passwordReset.png" alt="Password Illustration">
    </div>
</div>


