@*
    
*@
@{
}
<link rel="stylesheet" href="~/css/setPassword.css">

<div class="conta">
    <div class="password-page">
        <div class="password">
            <div class="password-container">
                <h1>Set a password</h1>
                <p>An authentication code has been sent to your email.</p>
                <form>
                    <div class="input-group">
                        <label for="createPassword">Create Password</label>
                        <input type="password" id="createPassword" name="createPassword" placeholder="7789BM6X@@H&$K_">
                    </div>
                    <div class="input-group">
                        <label for="reenterPassword">Re-enter Password</label>
                        <input type="password" id="reenterPassword" name="reenterPassword" placeholder="7789BM6X@@H&$K_">
                    </div>
                    <button type="submit" class="password-btn">Set Password</button>
                </form>
            </div>
        </div>
    </div>
    <div class="password-photo">
        <img src="~/icon/passwordReset.png" alt="Password Illustration">
    </div>
</div>


