<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"] - Login Register</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <img src="~/icon/logo.png" alt="Logo">
                <span>Your Logo</span>
            </div>
            @if (User.Identity.IsAuthenticated && ViewData["ShowLogout"] != null && (bool)ViewData["ShowLogout"])
            {
                <a href="/Dashboard/Logout" class="logout-button">Logout</a>
            }
        </nav>
    </header>
    <div class="container">
        @RenderBody()
    </div>

    

    @RenderSection("Scripts", required: false)
</body>
</html>
