@*
    
*@
@{
}
@model LoginViewModel

<link rel="stylesheet" href="~/css/login.css">

<div class="conta">
    <div class="login-page">

        <div class="login">
            <div class="login-container">
                <h1>Login</h1>
                <p>Login to access your travelwise account</p>
                <form method="post" onsubmit="(e)=>e.preventDefault()">
                    <div class="input-group">
                        <label for="email">Email</label>
                        <input type="email" id="email" name=Email placeholder="john.doe@gmail.com">
                        <span asp-validation-for=Email> </span>
                    </div>
                    <div class="input-group">
                        <label for="password">Password</label>
                        <input type="password" id="password" name=Password placeholder="**********">
                        <span asp-validation-for=Password> </span>
                    </div>
                    <div class="actions">
                        <label>
                            <input type="checkbox" name="RememberMe" value="true"> Remember me
                            <input type="hidden" name="RememberMe" value="false" />
                        </label>
                        <a href="#" onclick="redirectToPasswordReset()" class="forgot-password">Forgot Password</a>
                    </div>
                    <button type="submit" asp-action="Login" asp-controller="Login" class="login-btn">Login</button>
                    <p>Don't have an account? <a href="#" onclick="redirectToRegister()">Sign up</a></p>
                </form>
                <div class="social-login">
                    <div class="box">
                        <div class="line"></div>
                        <div class="text">Or login with</div>
                        <div class="line"></div>
                    </div>
                    <div class="social-buttons">
                        <button class="facebook"><img src="~/icon/facebook.png"></button>
                        <button class="google"><img src="~/icon/google.png"></button>
                        <button class="apple"><img src="~/icon/apple.png"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="login-photo">
        <img src="~/icon/Login.png" alt="Login Illustration">
    </div>
</div>


<script>
    function redirectToRegister() {
        //event.preventDefault(); 
        window.location.href = "/Register/Register"; 
    }

    function redirectToPasswordReset() {
       // event.preventDefault(); 
        window.location.href = "/PasswordReset/PasswordReset";
    }
</script>

